.Centralizing-Kanban {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.eckDVx {
  background-color: blue !important;
}